<div class="parent-grid center">
     <p>{{environment }}</p>
    <div class="span-4  section">
        <button type="button" class="btn btn-primary" (click)="redirect('presentation')"> Landing Page </button>
    </div>
    <div class="span-4  section">
        <button type="button" class="btn btn-secondary" (click)="redirect('test')"> e-commercer </button>
    </div>
    <div class="span-4  section">
        <button type="button" class="btn btn-success" (click)="redirect('test')"> Excel online </button>
    </div> 
</div>