.parent-grid {
    background-image: url('../../../assets/img/banner-popocatepetl-monitoreo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    overflow: none;
    background-attachment: fixed;
}

.center {
    place-items: center;
    justify-items: center;
    align-items: center;
}