<app-content>
    <div>
        <div class="parent-grid ">
            <div class="span-12 green section center">
                <h1> Muestra aqui tu producto: </h1>
                <h3> Aqui va el producto que vendes !</h3>
                <img src="https://www.w3schools.com/howto/img_fjords_wide.jpg" alt="Responsive Image" class="img-space">
            </div>
        </div>

        <div class="banner-star">

        </div>

        <div class="parent-grid">
            <div class="span-12 green section ">
                <h3 class=" small-margin ">Lo que necesitas! </h3>
                <div class="centrado center ">
                    <div class="span-3 small-margin small-padding">
                        <a (click)="redirect('test')" class="cursor-pointer"><i class="fa-solid fa-house"> </i></a>
                        <div>
                            <h4>Casa</h4>
                            <h5>Descripcion de la casa que se vende</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </div>
                    </div>

                    <div class="span-3 small-margin small-padding">
                        <a (click)="redirect('test')" class="cursor-pointer"> <i class="fa-solid fa-face-smile"></i></a>
                        <div>
                            <h4>Happy-face</h4>
                            <h5>Otra Descripcion del producto</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                            </p>
                        </div>
                    </div>

                    <div class="span-3 small-margin small-padding">
                        <a (click)="redirect('test')" class="cursor-pointer"> <i class="fa-regular fa-user"></i></a>
                        <div>
                            <h4>Usuario</h4>
                            <h5>Los usuarios estan contentos con el producto ! </h5>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


  

</app-content> 



<app-content class="big-padding big-margin"> 
        <app-weather-api></app-weather-api>
</app-content>